@{
    ViewData["Title"] = "Home Page";
}

<style>
    /* --------------------- From Lynn ------------------------------ */
    :root {
        --lynn-primary: #3167a4;
        --lynn-primary-rgb: 49, 103, 164;
        --lynn-primary-02: #3f7bb8;
        --lynn-primary-02-rgb: 63, 123, 184;
        --lynn-primary-03: #264e7e;
        --lynn-primary-03-rgb: 38, 78, 126;
        --lynn-primary-04: #c9daee;
        --lynn-primary-04-rgb: 201, 218, 238;
        --lynn-secondary: #0f0f0f;
        --lynn-secondary-rgb: 15, 15, 15;
        --lynn-info: #3167a4;
        --lynn-success: #22b573;
        --lynn-warning: #ffa022;
        --lynn-gray-50: #f8f8f8;
        --lynn-gray-100: #f0f0f0;
        --lynn-gray-200: #e6e6e6;
        --lynn-gray-300: #c6c6c6;
        --lynn-gray-400: #bababa;
        --lynn-gray-500: #858585;
        --lynn-gray-600: #767676;
        --lynn-gray-700: #666666;
        --lynn-gray-800: #4b4b4b;
        --lynn-gray-900: #1a1a1a;
        --d-success: #28a745;
        --d-info: #17a2b8;
        --d-warning: #ffc107;
        --d-danger: #dc3545;
    }

    :root {
        --dlmc-primary1: #3e54d3;
        --dlmc-primary2: #4f80e2;
        --dlmc-secondary1: #15cdca;
        --dlmc-secondary2: #4fe0b6;
        --dborder: rgba(0, 0, 0, 0.1);
        --d-agent-msg-bg: rgba(0, 0, 0, 0.03);
        --d-customer-msg-bg: rgba(62, 84, 211, 0.05);
        --dt-dark: #212226;
        --d-black05: rgba(51, 51, 51, 0.05);
        --d-black10: rgba(51, 51, 51, 0.1);
        --d-black50: rgba(51, 51, 51, 0.5);
        --d-msg-name: rgba(0, 0, 0, 0.25);
        --d-msg-content: rgba(0, 0, 0, 0.6);
        --dheader-space: 52px;
        --dleftnav-space: 52px;
    }

    body {
        font-family: 'Montserrat', sans-serif;
        font-size: 12px;
        color: var(--lynn-secondary);
        height: 100%;
        padding: 0;
        margin: 0;
    }

    html{
        height: 100%;
        padding: 0;
        margin: 0;
    }


    /* --------------------- From Lynn ------------------------------ */

    #example{
        display: flex;
        align-items: center; 
        justify-content: center;
    }

    .selector-for-some-widget {
        box-sizing: content-box;
    }

    .k-card {
        border-color: white;
    }

/*     .k-list-optionlabel{
        font-size: 170%;
        font-family: Arial, Helvetica, sans-serif;
    } */

    .k-list-item.k-selected, .k-selected.k-list-optionlabel {
        color: #ffffff;
        background-color: black;
/*         font-size: 170%;
        font-family: Arial, Helvetica, sans-serif; */
    }

    .k-list-optionlabel.k-selected:hover {
        background-color: rgba(0, 0, 0, 0.30);
        color: black;
        box-shadow: none;
        border-color: none;
/*         font-size: 170%;
        font-family: Arial, Helvetica, sans-serif; */
    }

    .k-input-solid:focus-within {
        border-color: black;
        box-shadow: none;
    }

    .k-list-item.k-selected.k-focus.k-hover{
        background-color: rgba(0, 0, 0, 0.30);
        color: black;
        box-shadow: none;
        border-color: none;
/*         font-size: 170%;
        font-family: Arial, Helvetica, sans-serif; */
    }

    .k-popup {
        border-radius: 4%;
        border-color: black;
        background-color: white;
        box-shadow: none;
    }
    
    .k-card-header {
        flex: 0 0 auto;
    }

    .k-list-item{
        color: black;
/*         font-size: 170%;
        font-family: Arial, Helvetica, sans-serif; */
    }

    .k-card-body {
        overflow: hidden;
    }

    .k-d-flex {
        height: 100vh;
    /*        display: flex; */
        justify-content: center;
        align-items: center;
    }


    .example-item {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 20px;
        border-radius: 5px;
        background-color: #ffffff;
/*         font-size: 170%;
        font-family: Arial, Helvetica, sans-serif; */
    }

    #loader-secondary {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #channels, #view-interface {
    /*         display: flex; */
        justify-content: center;
        align-items: center;
    }

    #forImage {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #type-of-service {
        display: flex;
        justify-content: center;
    /*        align-items: center; */
    }
    
    #case1, #case2, #case3, #gmail-btn, #kyubo-btn, #ig-btn {
        display: flex;
        align-items: center; /* Alinea verticalmente */
        justify-content: center; /* Alinea horizontalmente */
        padding: 10px;
/*         font-size: 170%; */
        color: black;
        background-color: white;
        border-radius: 6px;
        height: 22%;
    }

    #gmail-btn, #kyubo-btn, #case1, .example-item, #ig-btn {
        display: none;
    }

    .k-dropdownlist .k-input-inner {
        background: white;
/*         font-size: 170%;
        font-family: Arial, Helvetica, sans-serif; */
        border-radius: 6px;
    }

    .k-list-item { 
        background-color: white;
        font-family: Arial, Helvetica, sans-serif;
    }

    .gmail-icon, .kyubo-icon, .ig-icon{
        margin-right: 8px;
        
    }

    .close-image {
        position: absolute;
        top: 8px;
        right: 12px;
    }

    #for-close:hover,
    #for-close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }


    #phoneImage{
        position: absolute;
        z-index: 6;
    }

    .modal-interface {
        visibility: hidden;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #for-close{
        position:absolute;
        height: 5%;
        top: 0%;
        right: 5%;
        z-index: 10;
    }

    /*     #lynn-icon{
        display: none;
    } */

    .ex-interface-image {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 7;
        border-radius: 2%;
        border: 3px;
        border-style: solid;
        border-color: black;
        height: 85%;
        width:85%
    }

    .black-out{
        background-color: black;
        z-index: 1;
        height: 679px;
        width: 334px;
        border-radius: 12%;
    }

    .sending-video{
        display: none;
        position: absolute;
        height: 675px;
        width: 340px;
        border-radius: 12%;
        z-index: 3;
    }

    #gmailInbox{
        display: none;
        position: absolute;
        height: 679px;
        width: 335px;
        border-radius: 12%;
        z-index: 2;
    }

    p{
        display: none;
        background-color: #d7d7d7;
        color: black;
/*         font-size: 130%;
        font-family: Arial, Helvetica, sans-serif; */
        border-radius: 6%;
        padding:4%;
    }

</style>



<div id="example">
    <div class="modal-interface" id="modal-kyubo">
        <image class="ex-interface-image" id="kyubo-image" src="images/casos_de_uso/gmail-kyubo/gmail-kyubo_2.png"/>
        <img src="images/close-2.png" id="for-close"/>
    </div>

    <div id="tilelayout"></div>
    <!-- container text templates -->
    <script id="type-of-service-section" type="text/x-kendo-template">
        <div id="type-of-service" style="width:100%">
            <input id="kd-place-chooser" />
        </div>
    </script>
    <script id="mobile-interface" type="text/x-kendo-template">
        <div id="forImage" style="height:100%" >
            <div class="black-out"></div>
            <video class="sending-video" id="sending-mail-video" src="images/casos_de_uso/gmail-kyubo/demokyuboshort.mp4" frameborder="0"></video>
            <img src="images/casos_de_uso/gmail-kyubo/gmail-inbox.png" id="gmailInbox"/>
            <img src="images/iphone-bg.png" id="phoneImage" style="height:100%"/>
        </div>
    </script>   
    <script id="loading-section" type="text/x-kendo-template">
        <div class="k-d-flex">
            <img src="images/lynnicons-2024/lynnicons/svg-icons/lynn.svg" style="height:25%" id="lynn-icon" alt="lynn"/>
            <div class="example-item">
                <div>Loading</div>
                <div id="loader-secondary"></div>
            </div>
        </div>
    </script>
    <script id="view-interface-section" type="text/x-kendo-template">
        <div id="view-interface" style="height:100%; width:100%">
            <button class="btn" id="kyubo-btn" style="width:100%"><img src="images/lynnicons-2024/lynnicons/svg-channel/kyubo.svg" style="height:100%" class="kyubo-icon" alt="kyubo"/>Kuybo</button>
        </div>
    </script>
    <script id="channels-section" type="text/x-kendo-template">
        <div id="channels" style="height:100%;">
            <button class ="btn" id="gmail-btn" style="width:100%;"><img src="images/lynnicons-2024/lynnicons/svg-channel/gmail.svg" style="height:100%" class="gmail-icon" alt="gmail"/>Gmail</button></br></br>
            @* <button id="ig-btn" style="width:100%;><img src="images/lynnicons-2024/lynnicons/svg-channel/instagram.svg" style="height:100%" class="ig-icon" alt="instagram"/>Instagram</button> *@
        </div>
    </script>
    <script id="view-messages-section" type="text/x-kendo-template">
        <div id="users-grid" style="height:100%;">
        <p><b>Respuesta del ejecutivo</b><br><br>
            Hola Pablo,<br><br>
            Hemos revisado su plan y puede elegir cualquiera de los equipos disponibles en nuestra tienda y le ofrecemos un descuento del 10%.<br><br>
            Estaremos atentos a su consulta.<br><br>
            Gracias por preferir nuestros servicios.
        </p>
        </div>
    </script>
    <script id="use-cases" type="text/x-kendo-template">
        <div>
            <button id="case1" style="width:100%">Consulta sobre compra de equipo</button>
        </div>
    </script>




    <script>
        var typeOfService = @Html.Raw(Json.Serialize(ViewBag.TypeOfService));
        
        console.log("Tipo de servicio: ", typeOfService)

        $("#tilelayout").kendoTileLayout({
            //Para tipo de servicio
            containers: [{
                colSpan: 1,
                rowSpan: 1,
                bodyTemplate: kendo.template($("#type-of-service-section").html())

            }, {
                colSpan: 2,
                rowSpan: 3,
                bodyTemplate: kendo.template($("#mobile-interface").html())
            }, {
                colSpan: 1,
                rowSpan: 3,
                bodyTemplate: kendo.template($("#loading-section").html())
            }, {
                colSpan: 1,
                rowSpan: 1,
                bodyTemplate: kendo.template($("#view-interface-section").html())
            }, {
                colSpan: 1,
                rowSpan: 1,
                bodyTemplate: kendo.template($("#channels-section").html())
            }, {
                colSpan: 1,
                rowSpan: 2,
                bodyTemplate: kendo.template($("#view-messages-section").html())
            }, {
                colSpan: 1,
                rowSpan: 1,
                bodyTemplate: kendo.template($("#use-cases").html())
            }],

            gap: {
                rows: 0,
                columns: 0
            },
            
            columns: 5,
            columnsWidth: getWidth(),
            rowsHeight: 235,

        });



        function getWidth() {
            const width = $(window).innerWidth();
            if (width < 23) {
                return 23;
            } else {
                return width;
            }
        }

        document.getElementById("gmail-btn").onclick = function () {
            $('#case1').show();

        };

        //--------------PARA MODAL-------------

        var modal = document.getElementById("modal-kyubo");
        var btn = document.getElementById("kyubo-btn");
        var cls = document.getElementById("for-close");
        // var main = document.getElementById("example");


        btn.onclick = function () {
            modal.style.visibility = "visible"; 
        }


        // window.onclick = function (event) {
        //     if (event.target == main) {
        //         modal.style.visibility = "hidden";
        //     }
        // }

        cls.onclick = function () {
            modal.style.visibility = "hidden";
        }


        //---------PARA EL VIDEO-------------
        // var startTime = 2; 
        // var video = document.getElementById('sending-mail-video');

        // video.addEventListener('loadedmetadata', function () {
        //     video.currentTime = startTime;
        // }, false);

        document.getElementById("case1").onclick = function () {
            $('#lynn-icon').hide();
            setTimeout(function () {
                $('#kyubo-btn').show();
                $('#lynn-icon').show();
                $("p").show();

            }, 7000);

            $('#gmailInbox').hide();
            $('.sending-video').show();
            $('.sending-video').each(function () {
                var video = this;
                video.play();
            });
            $('.example-item').show();
            setTimeout(function () {
                $('.example-item').hide();
            }, 7000); 

        };


        //Para Drop Down list

        $(document).ready(function () {

            function onSelect(e) {
                console.log(e);
                console.log(e.dataItem.text);
                console.log(e.dataItem.value);
                
                $('#gmail-btn').show();
            };

            var dataSource = new kendo.data.DataSource({
                data: typeOfService,
                sort: { field: "text", dir: "asc" }
            });

            $("#kd-place-chooser").kendoDropDownList({
                filter: "contains",
                optionLabel: 'Tipo de servicio...',
                fillMode: "None",
                dataTextField: "text",
                dataValueField: "value",
                dataSource: dataSource,
                select: onSelect
            });


        });
        // PAra el loading
        var primary = $('#loader-secondary').kendoLoader({
            themeColor: 'secondary'
        }).data("kendoLoader");


    </script>
</div>





